[:project
 [{xt$column_1 xt$sq_0}]
 [:map
  [{xt$sq_0 xt$sum_out_5}]
  [:group-by
   [tab0.1/z xt$row_number_0 {xt$sum_out_5 (sum x.4/y)}]
   [:apply
    :left-outer-join
    {tab0.1/z ?xt$sq_z_2}
    [:map
     [{xt$row_number_0 (row-number)}]
     [:rename tab0.1 [:scan {:table tab0} [z]]]]
    [:rename
     x.4
     [:project
      [{y xt.values.2/y}]
      [:rename
       xt.values.2
       [:table [y] [{:y 1} {:y 2} {:y 3} {:y ?xt$sq_z_2}]]]]]]]]]
