[:project
 [{movie_title si.1/movie_title}]
 [:project
  [si.1/movie_title]
  [:order-by
   [[xt$ob_0 {:direction :asc, :null-ordering :nulls-last}]]
   [:map
    [{xt$ob_0 xt$eobr_movie_title_1}]
    [:project
     [si.1/movie_title {xt$eobr_movie_title_1 si.1/movie_title}]
     [:rename si.1 [:scan {:table stars_in} [movie_title]]]]]]]]
