[:project
 [xt$column_1]
 [:order-by
  [[xt$ob_0 {:direction :asc, :null-ordering :nulls-last}]]
  [:map
   [{xt$ob_0 (= xt$eobr_year_1 "foo")}]
   [:project
    [{xt$column_1 (= si.1/year "foo")} {xt$eobr_year_1 si.1/year}]
    [:rename si.1 [:scan {:table stars_in} [year]]]]]]]
