[:project
 [{some_column (= 1 xt$sq_0)}]
 [:apply
  :single-join
  {x.1/z ?xt$sq_z_2}
  [:rename x.1 [:scan {:table x} [{y (= y 1)} z]]]
  [:project
   [{xt$sq_0 (= foo.2/bar ?xt$sq_z_2)}]
   [:rename foo.2 [:scan {:table foo} [bar]]]]]]
