[:project
 [{name customers.1/name} {xt$column_2 xt$sq_0}]
 [:map
  [{xt$sq_0 xt$row_count_5}]
  [:group-by
   [customers.1/name
    customers.1/custno
    customers.1/country
    xt$needle
    xt$sq_0
    xt$row_number_0
    {xt$row_count_5 (row-count)}]
   [:left-outer-join
    [{customers.1/custno orders.3/custno}]
    [:map
     [{xt$row_number_0 (row-number)}]
     [:map
      [{xt$sq_0 true}]
      [:semi-join
       [(= xt$needle country)]
       [:map
        [{xt$needle customers.1/country}]
        [:rename
         customers.1
         [:scan {:table customers} [name custno country]]]]
       [:project
        [{country salesp.2/country}]
        [:rename salesp.2 [:scan {:table salesp} [country]]]]]]]
    [:rename orders.3 [:scan {:table orders} [custno]]]]]]]
