[:project
 [{a f.1/a}]
 [:select
  (= true xt$sq_0)
  [:mark-join
   {xt$sq_0 [true]}
   [:rename f.1 [:scan {:table foo} [a]]]
   [:project [{c foo.2/c}] [:rename foo.2 [:scan {:table foo} [c]]]]]]]
