[:project
 [{foo x.1/foo}]
 [:select
  xt$sq_0
  [:apply
   {:mark-join {xt$sq_0 true}}
   {y.2/biz ?xt$sq_biz_4, x.1/foo ?xt$sq_foo_3}
   [:mega-join
    []
    [[:rename x.1 [:scan {:table x} [foo]]]
     [:rename y.2 [:scan {:table y} [biz]]]]]
   [:project
    [{bar z.3/bar}]
    [:rename
     z.3
     [:scan
      {:table z}
      [{baz (= baz ?xt$sq_biz_4)} {bar (= bar ?xt$sq_foo_3)}]]]]]]]
