[:project
 [{some_column x.1/y}]
 [:select
  (= x.1/y xt$sq_0)
  [:single-join
   []
   [:rename x.1 [:scan {:table x} [y]]]
   [:project
    [{xt$sq_0 xt$max_out_3}]
    [:group-by
     [{xt$max_out_3 (max foo.2/bar)}]
     [:rename foo.2 [:scan {:table foo} [bar]]]]]]]]
