[:project
 [{lastname foo.1/lastname} {name foo.1/name} {xt$column_2 xt$sq_0}]
 [:single-join
  []
  [:mega-join
   []
   [[:rename foo.1 [:scan {:table foo} [name lastname]]]
    [:rename bar.2 [:scan {:table bar} []]]]]
  [:project
   [{xt$sq_0 baz.3/frame}]
   [:rename baz.3 [:scan {:table baz} [frame]]]]]]
