[:project
 [{xt$column_1 xt$sq_0}]
 [:apply
  :single-join
  {bar.1/xt$valid_from ?xt$sq_xt$valid_from_2,
   bar.1/xt$valid_to ?xt$sq_xt$valid_to_3}
  [:rename bar.1 [:scan {:table bar} [xt$valid_to xt$valid_from]]]
  [:project
   [{xt$sq_0 foo.2/name}]
   [:rename
    foo.2
    [:scan
     {:table foo}
     [name
      {xt$valid_to (> xt$valid_to ?xt$sq_xt$valid_from_2)}
      {xt$valid_from (< xt$valid_from ?xt$sq_xt$valid_to_3)}]]]]]]
