[:project
 [{order_id o.1/xt$id} {value o.1/value} {customer xt$sq_0}]
 [:apply
  :single-join
  {o.1/customer_id ?xt$sq_customer_id_2}
  [:rename o.1 [:scan {:table orders} [customer_id xt$id value]]]
  [:project
   [{xt$sq_0 {:name name}}]
   [:project
    [{name c.2/name}]
    [:rename
     c.2
     [:scan
      {:table customers}
      [name {xt$id (= xt$id ?xt$sq_customer_id_2)}]]]]]]]
